# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [161]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# set gmaps api key
api_txt = "C:/Users/palan/NW-Data-Science/Google Maps API Key.txt"
txt = open(api_txt,"r")

with txt:
    
    gkey = txt.read()
   
print('\nAPI key import successfully completed.\n')

# from api_keys import g_key

API key import successfully completed.

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [162]:
# Retrieve data from CSV output file
cities_path = "C:/Users/palan/NW-Data-Science/Python-Api-Challenge/output_data/output_cities.csv"
cities_df = pd.read_csv(cities_path)

print('\nCities data loaded succesfully.\n')

Cities data loaded succesfully.

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [159]:
import gmaps
# from config import gkey

# configuring api key
gmaps.configure(api_key = gkey)

# initiating map
fig = gmaps.figure()

# specifying maps figure parameters
figure_layout = {
    'width': '400 px',
    'width': '300 px',
    'border': '1px solid black',
    'padding': '1px'
                    }


fig = gmaps.figure(layout = figure_layout)

# specifying location & weight values for heat map layer
locations = cities_df[["Latitude", "Longitude"]].astype(float)
humidity = cities_df['Humidity'].astype(float)

heat_layer = gmaps.heatmap_layer(locations, weights = humidity, 
                                 dissipating = False, max_intensity = 100,
                                 point_radius = 3)

# adding heat map layer
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(border='1px solid black', height='420px', padding='1px', width='300 px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [183]:
# Retrieve data from CSV output file
cities_path = "C:/Users/palan/NW-Data-Science/Python-Api-Challenge/output_data/output_cities.csv"
cities_df = pd.read_csv(cities_path)

#filter to cities with ideal living conditions
ideal_cities = cities_df[(cities_df['Max Temperature [C]'].astype(float) > 20) & (cities_df['Max Temperature [C]'].astype(float) < 40) &
                       (cities_df['Wind Speed'].astype(float) < 5) & (cities_df['Cloudiness'].astype(float) < 10)]

# drop n/a rows & reset index
ideal_cities = ideal_cities.dropna().reset_index()

print('Cities with ideal conditions. Filtered out N/A rows.')

ideal_cities

Cities with ideal conditions. Filtered out N/A rows.

,index,City Name,Latitude,Longitude,Max Temperature [C],Humidity,Cloudiness,Wind Speed
0,72,Santa Catarina de Tepehuanes,25.35,-105.73,25.48,27,2,2.908022
1,102,Yabrūd,33.97,36.66,21.15,19,0,3.355410
2,224,Gachsaran,30.36,50.80,24.15,29,0,4.697574
3,288,Sur,22.57,59.53,23.58,58,4,4.115970
4,289,Uchiza,-8.46,-76.46,34.75,35,8,2.236940
5,311,Salalah,17.02,54.09,27.15,42,0,4.697574
6,319,Yago,21.83,-105.07,26.15,54,5,2.527742
7,325,Najrān,17.49,44.13,24.15,17,0,4.697574
8,327,Coahuayana Viejo,18.73,-103.68,27.15,78,5,4.317294
9,362,Bela,25.93,81.98,23.83,35,0,1.275056
10,418,Kavieng,-2.57,150.80,27.85,71,3,3.086977
11,449,Avera,33.19,-82.53,27.37,61,1,3.355410
12,488,Mahanoro,-19.90,48.80,21.80,77,5,2.035615

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [205]:
json_list = []
i = 0

for row in ideal_cities.index:
    
    try:
        lat = ideal_cities['Latitude'][row].astype('float')
        lon = ideal_cities['Longitude'][row].astype('float')
        # https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.8670522,151.1957362&radius=1500&type=restaurant&keyword=cruise&key=YOUR_API_KEY
        hotel_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=' + lat + ',' + lon + '&type=lodging&key=' + gkey
        hotel_output = requests.get(hotel_url).json()
        json_list.append(hotel_output)

    except:
        
        i = i + 1

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure